**/build
**/.gradle/*
*.tmproj
*.log
*.DS_Store
lib/*
fw/*
.gradletasknamecache
.idea
*.iml
*.ipr
*.iws
node_modules
.project
.settings
.classpath
/.vscode
.gradle/
**/out
bin
smartthings_rsa.pub
examples/java-springboot-smartapp/src/main/resources/application.yml
