body 
{
    margin:0;
    min-width: 320px;
    height: 647px;
    background-color: #f7f9ff;
    font-family: Roboto;
}

#my-card 
{
    margin:0;
    width : 100%;
    height : 62.5vw;
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/smartthings-images/st_top_bg_320.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.contents
{
    float:left;
    width:100%;
    height : 64px;
    background-color : #ffffff;
    border: 1px solid #ebebed;
    border-left:none;
    border-right:none;
}

.contents.head
{
    border-top:1px soild #ebebed;
}

.contents.tail {
    border-top: none;
} 

.key {
    margin-top: 23px;
    margin-left: 5%;
    float:left;
    display:inline;
    font-size: 16px;
    font-weight: 300;
}

.value-block {
    float:right;
    margin-right: 5%;
    display:inline;
}

.value{
    float:left;
    margin-top : 17px;
    font-size: 26px;
    font-weight: 300;
    line-height: 30px;
    color: #313233;
}

.value.last {
    font-size: 18px;

}

#value-fail {
    font-size:14px;
    color: #adaeb3;
    font-weight: 300;
}

#value-plan {
    margin-right : 4px;
}

.unit {
    float:left;
    margin-top:28px;
    font-size:14px;
}

.unit.first {
    color: #4c4c4e;
    font-weight: 400;
}

.unit.second{
    color: #adaeb3;
    font-weight: 300;
}

.unit.third {
    color: #313233;
    font-weight: 300;
}

.circle {
    float:left;
    margin-top : 28px;
    margin-right : 10px;
    background-color: #1fb344 ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card-header {
    height: 44px;
    background-color: #f5f8ff;
}

.st-title {
    margin-top: 14px;
    margin-left:6.25%;
    display:inline;
    float: left;
    color: #4C4C4E;
}


.st-show {
    margin-top: 10px;
    margin-right : 4.375%;
    float : right;
    width:24px;
    height: 24px;
    font-size: 16px;
    padding: 0;
    border: none;
    background: none;
    color: #adaeb3;
}

.cards {
    margin: 0;
    border: 1px solid #ebebed;
    width:100%;
    float:left;
}

#value-block-tier {
      float:left;
}

img{
    margin-right: 3%;
    width:200px;
    height:66px;
    
}