body 
{
    margin:0;
    width: 100%;
    background-color : #d4dee5;
    font-family: arial;
}

#real-time
{
    border: 1px solid #b3bdcd;
    height:300px;
}

#my-card 
{
    width : 100%;
    background-color: #ffffff;
}

.words {
    float:left;
    width:100%;
    font-size: 4vw;
}

.scope1 
{
    float: left;
    width:50%;
}

.scope2
{
    float:left;
    width :33.333%;
}

.content
{
    padding-bottom : 100%;
    background-color : #ffffff;
    border:1px solid #b3bdcd;
}

.title {
    margin-left:3%;
    display:inline;
}

.show {
    margin-right : 3%;
    float : right;
    padding: 0;
    border: none;
    background: none;
}