* {
font-family: Arial,Helvetica;
}
.bord {
border: 2px solid #0d4170;
}

h1, h2, h3 {
font-size: 30pt;
color: #003366;
margin-bottom: 2px;
margin-top: 5px;
}
h2 {
font-size: 24pt;
}
h3 {
font-size: 14pt;
}
p {
font-size: 14pt;
}

.info {
font-size: 12pt;
}

.tiny {
  font-size: 10pt;
  font-style: italic;
  color: #ff3333;
  margin-left: 4px;
}

.swon, .swoff {
  font-size: 10pt;
  color: black;
  background-color: #dddddd;
  margin-left: 2px; margin-right: 2px;
  padding: 2px;
  width: 300px;
  cursor: pointer;
}

.swon {
  background-color: #5a4d04;
  color: #33cc33;
}

.debug, .error {
  background-color: red; color: white;
  font-size: 10pt;
}

tr.shaded {
  background-color: #cccccc;
  color: black;
}

tr.theader {
  background-color: #111133;
  color: white;
  border-bottom: 3px solid #111111;
}

table.maintable {
  width: 1000px;
  border: 0; cellpadding: 0; cellspacing: 0;
  margin-left: 10px; margin-right: 10px;
  background-color: white;
}

table.sensortable {
  border: 3px solid #333399;
  margin-top: 8px;
}

td.switch-on, td.motion-on, td.lock-on, td.contact-on, td.music-on, td.thermostat-on {
  background-color: #119911;
  color: #ffffee;
  border: 1px solid #111111;
  cursor: pointer;
}

td.switch-off, td.motion-off, td.lock-off, td.contact-off, td.music-off, td.thermostat-off {
  background-color: #6f113f;
  color: #ffffee;
  border: 1px solid #111111;
  cursor: pointer;
}

td.sensorpick {
  background-color: #ffffee;
  color: #111199;
  border: 3px solid #111111;
  cursor: crosshair;
}

table.switch, table.motion, table.lock, table.contact, table.music, table.thermostat {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid #111111;
}

table.sensorsection {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid black;
}

#switch-data, #motion-data, #contact-data, #door-data {
  border: 0px;
  padding: 2px;
}

td.sensorcontrol {
  border: 2px solid black;
  padding: 2px;
  background-color: #dddddd;
}

li {
padding-top: 5px;
padding-bottom: 5px;
padding-right: 70px;
margin-left: 30px;
}

.authbutton {
	color: black; font-size: 12pt;
	font-weight: bold;
	width: 100px; cursor: pointer;
}

.tinybutton {
	width: 100px; margin: 2px; padding: 1px; font-weight: bold; font-size: 80%;
	cursor: pointer; margin-left: 5px; margin-top: 5px;
}

.hidden {
	display: none;
}

.shown {
	display: inline;
}

.endpts {
  font-size: 12pt;
  color: #006633;
  margin-left: 16px; margin-top: 4px; margin-top: 4px;
  border-top: 2px solid #0066cc;
  border-bottom: 2px solid #0066cc;
}
